* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

body {
  background-color: #f8f8f8;
}

/* ------------------section1------------------ */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section1 {
  width: 100%;
  height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  border-bottom: 1px #e3e3e3 solid;
}

.topImg {
  width: 100%;
  height: 47vh;
}

.posterAndInfo {
  width: 91rem;
  height: 0rem;
  transform: translateY(-3rem);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.poster {
  width: 15.2rem;
  height: 22.5rem;
  border: 0.2rem #ffffff solid;
  box-shadow: 0px 1px 5px #dfdfdf;
  border-radius: 5px;
}

.rankingInfo {
  margin-left: 2rem;
  color: white;
  font-size: 1.5rem;
}

.movieInfoRateBasketEstimate {
  width: 91rem;
  height: 31vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.empty {
  width: 20%;
  height: 100%;
  background-color: #ffffff;
}

.topUl {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 1rem 0;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.movieInfo {
  width: 100%;
  padding: 1.5rem 0 1rem 0;
}

.movieTitle {
  font-size: 3rem;
  font-weight: bold;
}

.movieDetail {
  font-size: 1.5rem;
  color: #7f7f7f;
}

.rate {
  width: 100%;
  padding: 1rem 0;
  border-top: 1px #e3e3e3 solid;
  border-bottom: 1px #e3e3e3 solid;
  font-size: 1.5rem;
  font-weight: bold;
}

.rateText {
  color: #ff2f6e;
}

.basketEstimate {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem 0 1.5rem 0;
}

.basket {
  display: flex;
  flex-direction: row;
  width: 23.5rem;
  height: 3.5rem;
}

.mark {
  background-color: #ff2f6e;
  border-radius: 10px 0 0 10px;
  width: 83%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  border-right: 1px #e71252 solid;
}

.markModal {
  background-color: #ff2f6e;
  border-radius: 0 10px 10px 0;
  width: 17%;
  height: 100%;
}

.fa-plus {
  padding: 0 1rem;
}

.fa-caret-down {
  color: #ffffff;
  font-size: 1.5rem;
}

.estimate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 2rem;
}

.estimateText {
  font-size: 1rem;
  font-weight: bold;
  color: #7f7f7f;
}

.stars {
  font-size: 3rem;
}

/* ------------------section2------------------ */

.section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.section2LeftContainer {
  width: 63rem;
  background-color: #ffffff;
  margin-top: 4rem;
  border: 1px #e3e3e3 solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section2LeftContents {
  width: 59rem;
}

.section2RightContainer {
  width: 27rem;
  margin: 4rem 0 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section2AdContainer {
  width: 27rem;
  height: 25rem;
  margin-bottom: 2rem;
  background-color: #ffffff;
  border: 1px #e3e3e3 solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section2GVContainer {
  width: 27rem;
  height: 37rem;
  margin-bottom: 2rem;
  background-color: #ffffff;
  border: 1px #e3e3e3 solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adContent {
  width: 100%;
  height: 66%;
  border-bottom: 1px #e3e3e3 solid;
  border-radius: 10px 10px 0 0;
}

.adTextContent {
  width: 100%;
  height: 34%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adTextContentInner {
  width: 24rem;
  height: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.adDiscription {
  width: 70%;
  font-size: 1.2rem;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.GoingToSee {
  width: 30%;
  background-color: #ff2f6e;
  color: #ffffff;
  width: 7rem;
  height: 2.5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

.gvContent {
  width: 24rem;
  height: 100%;
}

.gallery {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px #e3e3e3 solid;
}

.galleryTitle,
.videoTitle {
  font-size: 1.8rem;
  font-weight: bold;
}

.galleryImg {
  width: 50%;
  height: 8rem;
  margin-top: 1rem;
}

.video {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.videoVideo {
  width: 50%;
  height: 8rem;
  margin: 1rem 0 1rem 0;
}

.videoDiscription {
  width: 50%;
  font-size: 1.3rem;
  letter-spacing: -1px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* 기본정보 */
.basicInfo {
  width: 100%;
  height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  border-bottom: 1px #e3e3e3 solid;
  letter-spacing: -1px;
  padding-top: 2rem;
}

.basicInfoHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.smallTitle {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.seeMore {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff2f6e;
}

.basicInfoMiddle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.5rem;
  padding: 1.5rem 0;
  color: #4a535b;
}

.basicInfoSummary {
  width: 100%;
  height: 6.5rem;
  word-break: break-all;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;

  font-size: 1.5rem;
  color: #4a535b;
  overflow: hidden;
  margin-bottom: 2rem;
}

/* 출연/제작 */
.appearanceProduction {
  width: 100%;
  height: 27rem;
  border-bottom: 1px #e3e3e3 solid;
  padding-top: 2rem;
}

.production {
  margin-top: 1rem;
  display: flex;
  flex-flow: column wrap;
  height: 22rem;
  transition: transform 500ms ease-in-out;
}

.productionList {
  height: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-right: 1rem;
}

.productionList > img {
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
  border: 1px #e3e3e3 solid;
}

.liText {
  border-top: 1px #e3e3e3 solid;
  width: 22rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 1rem;
}

.liName {
  font-size: 1.5rem;
}

.liJob {
  font-size: 1rem;
  font-weight: bold;
  color: #8c8c8c;
  padding-top: 0.5rem;
}

.chevron {
  visibility: hidden;
}

.fa-chevron-right,
.fa-chevron-left {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  border-radius: 50%;
  box-shadow: 0px 1px 10px #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  cursor: pointer;
  z-index: 1;
}

.fa-chevron-left {
  transform: translate(-1rem, 12.5rem);
}

.fa-chevron-right {
  transform: translate(56.7rem, 12.5rem);
}

/* 별점 그래프 */
.graph {
  border-bottom: 1px #e3e3e3 solid;
}

/* 코멘트 */
.coment {
  border-bottom: 1px #e3e3e3 solid;
}

/* 이 작품이 담긴 컬렉션 */
.collection {
  border-bottom: 1px #e3e3e3 solid;
}

/* 비슷한 작품 */
.similarWork {
}
